.special-next{
left: -19px;
 transition: opacity 0.3s;
 transform: translateY(-50%);
}
.special-prev {
 right: -19px;
 transition: opacity 0.3s;
 transform: translateY(-50%);
}

$category-icon-size:(
desktop:174px,
tablet:168px,
mobile:156px,
);

.big-card{
 border-bottom: 1px solid #ebecf0;
}

.grid-container {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(130px,2fr ));
 gap: 16px;
}
.category-size{
 width: 100%;
 aspect-ratio: 5/4;
 img{
  width: 100%;
  height: 100%;
 }
}

.border-section{
 border-radius: 0;
}

@media screen and (min-width:480px) {
 .grid-container {
  grid-template-columns: repeat(auto-fill, minmax(map-get($category-icon-size , mobile),5fr));
 }
}

@media screen and (min-width:1024px) {

 .grid-container {
  grid-template-columns: repeat(auto-fill, minmax(map-get($category-icon-size , tablet), 7fr));

 }
 .border-section{
  border-radius: 10px 10px 0 0;
 }
}

@media screen and (min-width:1200px) {
 .big-card{
  border: none;
 }
}