
$my-spacer:  4px;
$spacer:$my-spacer;
$my-spaceser: (
  0: 0, // 0px
  0_5: $spacer * 0.5, //2px
  1: $spacer, //4px
  1_5: $spacer * 1.5, //6px
  2: $spacer * 2, //8px
  2_5: $spacer * 2.5, //10px
  3: $spacer * 3, //12px
  3_5: $spacer * 3.5, //14px
  4: $spacer * 4, //16px
  5: $spacer * 5, //20px
  6: $spacer * 6, //24px
  7: $spacer * 7, //28px
  8: $spacer * 8, //32px
  9: $spacer * 9, //36px
  10: $spacer * 10, //40px
  11: $spacer * 11, //44px
  12: $spacer * 12, //48px
  14: $spacer * 14, //56px
  15: $spacer * 15, //60px
  16: $spacer * 16, //64px
  18:$spacer * 18,  //72px
  20: $spacer * 20, //80px
  40: $spacer * 40, //160px
);

