
.first-section {
  .first-section__image {
    width: 100%;

    img {
      aspect-ratio: 4/3;
      width: 100%;

    }
  }

  .first-section__item {
    img {
      width: 24px;
      height: 24px;
    }
  }

}

.tab-profile{
  margin-bottom: 117px;
.nav-link{
  padding: 0 12px;
  height: 48px;
  color: black;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #EBECF0;
  &.active{
    border-radius: 8px;
    border: 1px solid  #EF3F40;
    background: #FFF2F0;
    color: #EF3F40;
  }

}

}

.second-section {
  .second-section__image {
    img {
      width: 100%;
      aspect-ratio: 4/3;
    }
  }

  .line__second-section {
    position: relative;
    height: 20px;
    min-width: 959px;

    .dot {
      width: 20px;
      height: 20px;
      border-radius: 50%;

      position: absolute;
      z-index: 2;
      background-color: #C1C7D0;
      &.start {
        right: 0;
        background-color: #EF3F40;
      }
      &.end {
        left: 0;
        &.action{
          animation: fillCircle 0s 3s forwards;
        }

      }
    }

    .line-counter {
      width: 100%;
      margin: 0 16px;
      height: 10px;
      position: relative;
      background-color: #C1C7D0;
      z-index: 1;

      .active {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #EF3F40;
        &.action{
          animation: fillAnimation 3s linear forwards;
        }
      }
    }
  }

  @keyframes fillAnimation {
    0% {
      width: 0;
    }
    99% {
      width: 100%;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes fillCircle {
    0% {
      background-color: #ccc;
    }
    100% {
      background-color: red;
    }
  }
}

.sharp-image{
  img{
    width: 88px;
  }
}
.links{
  img{
    width: 24px;
  }

}
@media screen and (min-width: 480px) {
  .first-section {
    .first-section__item {
      img {
        width: 48px;
        height: 48px;
      }
    }
  }
  .sharp-image{
   img{
     width: 168px;
   }
  }
  .links{
    img{
      width: 32px;
    }

  }
}

@media screen and (min-width: 1024px) {
  .first-section {
    .first-section__image {
      img {
        width: 494px;
      }
    }
  }
  .second-section {
    .second-section__image {
      img {
        width: 427px;

      }

    }
  }
  .tab-profile{
    margin-bottom: 285px;
  }
}

@media screen and (min-width: 1200px) {
  .first-section {
    .first-section__image {
      img {
        width: 587px;
      }
    }
  }
  .second-section {
    .second-section__image {
      img {
        width: 508px;
      }

    }
  }
}

@media screen and (min-width: 1600px) {
  .first-section {
    .first-section__image {
      img {
        width: 677px;
      }
    }
  }
  .second-section {
    .second-section__image {
      img {
        width: 588px;

      }

    }
  }
}