.blog-header{
  height: 68px;
}
.first-view__blog-page{
  .right-side__blog-page {
    width: 100%;
  }
  .left-side__blog-page{
    width: 100%;
    aspect-ratio: 16/9;
    img{
      border-radius: 10px 10px 0 0;
    }
  }

  @media screen and (min-width: 1024px) {
    .right-side__blog-page {
      width: 34%;

    }
    .left-side__blog-page{
      width: 66%;
      img{
        border-radius: 10px 0 0 10px;
      }

    }
  }
}
.first-section-items{
  margin-bottom: 40px;
  .text-item{
    height: 40px;
    overflow-y: hidden;
  }
  @media screen and (min-width: 1024px) {
    margin-bottom: 135px;
  }
}
.special-blog-slider-container{
  width: 100%;

  .next__special-blog-slider ,
  .prev__special-blog-slider{
    transform: translateY(-50%);
    border: 2px solid  #EBECF0;
  }
  @media screen and (min-width: 1024px) {
    width: 600px;
  }
  @media screen and (min-width: 1200px) {
    width: 670px;
  }
  @media screen and (min-width: 1600px) {
    width: 870px;
  }
}
.blog-card{
  .text{
    height: 56px;
    overflow-y: hidden;
  }
}

.box__product-post{

  .main-cart__product-post{
    .image__main-card , .text__main-card{
      width: 100%;
    }

  }
  @media screen and (min-width: 1024px) {
    border-radius: 8px;
    border: 1px solid  #EBECF0;
    .image__main-card , .text__main-card{
      width: 50%;
    }
  }
}

.image__email-box{
  width: 100%;
}
.main-card-container__2{
  .main-card__2{
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 50%;
    }
  }
  @media screen and (min-width: 1024px) {
    border: 1px solid  #EBECF0;
  }
}
.side-bar__cat-blog{
  width: 100%;
  @media screen and (min-width: 1024px) {
    min-width: 400px;
    max-width: 400px;
  }
}
.search-blog{
  height: 68px !important;
}