.contact-info{
  border: none;
  @media screen and (min-width: 1024px) {
    border: 1px solid #EBECF0;
  }
}
.contact-info__text-box {

  input {
    height: 48px;
    padding: 0 12px;
    border-radius: 4px;
    background: #FAFBFC;
    outline: none;
    border: none;

    &::placeholder {
      color: #C1C7D0;

    }

    &:focus {
      background: #fff;
      border: 1px solid #EF3F40;

    }
  }
}

.request-page {
  .main-contact{
    width: 100%;
    @media screen and (min-width: 1024px) {
      width: calc(100% - 314px);
    }
    @media screen and (min-width: 1200px) {
      width: calc(100% - 369px);
    }

    @media screen and (min-width: 1200px) {
      width: calc(100% - 424px);
    }
  }
  .side-bar{
    width: 100%;
    border: 0;
    border-top: 1px solid #EBECF0;
    @media screen and (min-width: 1024px) {
      width: 290px;
      border: 1px solid #EBECF0;
      border-radius: 8px;
    }
    @media screen and (min-width: 1200px) {
      width:  345px;
    }

    @media screen and (min-width: 1200px) {
      width:  400px;
    }
  }














  .contact-info {
    .item{
      height: 56px;
      border-bottom: 1px dashed #EBECF0;
      &:last-child{
        border-bottom: 0;
      }
    }
  }
  button.add-item{
    display: flex;
    height: 46px;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid  #EF3F40;
  }
  .nav-item button{
    padding: 0 24px;
    background: #F4F5F7;
    border-radius: 2px;
    color: #C1C7D0;
    height: 32px;
    &.active{
      background: #ffff;
      color: #000;
    }

  }
  .send-btn{
    display: flex;
    height: 48px;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #EF3F40;
    background:  #EF3F40;
  }
}