.text-filed , .text-area{
  display: flex;
  flex-direction: column;
  gap: 8px;
  label{
    padding: 8px 0;
  }
  input , textarea{
    border-radius: 4px;
    background: #FAFBFC;
    border: 1px solid #FAFBFC;
    padding: 0 12px;

    outline: none;
    &::placeholder{
      color: #C1C7D0;
    }
    &:focus{
      background: #fff;
      border: 1px solid #EF3F40;
    }
  }
  input{
    height: 48px;
  }

}