.text-filed , .text-area{
  display: flex;
  flex-direction: column;
  gap: 8px;
  label{
    padding: 8px 0;
  }
  input , textarea{
    border-radius: 4px;
    background: #FAFBFC;
    padding: 0 12px;
    border: none;
    outline: none;
    &::placeholder{
      color: #C1C7D0;
    }
  }
  input{
    height: 48px;
  }
}